*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../ban3.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    width: 80%;
    margin: 10px auto;
    padding-top: 20px;
    display: flex;
    justify-self: space-between;
    align-items: center;

}
.logo{
    width: 200px;
}
.logo h2{
    font-size: 60px;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.nav-links{
    width: 500px;
}
.nav-links ul{
    margin: 0;
    padding: 0;
    position: relative;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
    position: relative;
}
.nav-links ul i{
    margin-left: 12px;
}
.nav-links ul li a{
    text-decoration: none;
    color: red;
    display: block;
    font-size: 15px;
    transition: 0.55s;
}
.nav-links ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 32px;
    display: none;
}
.nav-links ul ul li{
    width: 130px;
}
.nav-links ul ul ul{
    top: 0;
    left: 100%;
}

.nav-links ul li:hover > ul{
    display: block;
    background: brown;
}
.nav-links ul li a:hover{
    color: blue;
}
.search{
    width: 330px;
}
.srch{
    width: 200px;
    height: 40px;
    /* border-radius: 20px; */
    background: transparent;
    border: 1px solid red;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    float: left;

}
.btn{
    width: 100px;
    height: 40px;
    background: red;
    color: whitesmoke;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid red;
}
.text-box{
    width: 80%;
    margin: auto;
    margin-top: 150px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
.text-box1 h1{
    font-size: 40px;
}
.text-box1 p{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.btn-1{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background: red;
    border: none;
    cursor: pointer;


}
.btn-1 a{
    text-decoration: none;
    color: black;
    font-size: 18px;

}
.btn-1:hover{
    background: whitesmoke;
}
span{
    color: red;
    font-size: 60px;
}
.login{
    width: 250px;
    padding: 15px;
    background: rgba(0,0,0,0.7);
    
    
}
.login h3{
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    padding: 8px;
}
.login input{
    width: 230px;
    margin-bottom: 15px;
    background: transparent;
    padding: 12px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    color: aliceblue;
    font-size: 14px;
    letter-spacing: 1px;

}
.login input:focus{
    outline: none;
}
.btn-2{
    width: 240px;
    text-align: center;
    color: black;
    background: red;
    border-radius: 10px;
    padding: 8px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
   

}
a .btn-2 {
    margin-bottom: 18px;
    font-weight: bold;
}
a .btn-2:hover{
    background: white;
    
}
.login p{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
    line-height: 30px;
}
.liw{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 10px;
}
.icon{
    margin-top: 15px;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.icon i{
    transition: .7s;
}
.icon i:hover{
    color: red;
    font-size: 50px;
}
.service{
    width: 100%;
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}
.service h1{
    font-size: 50px;
    margin-bottom: 10px;

}
.service p{
    color: black;
}
.row{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.service-col{
    flex-basis: 28%;
    padding: 20px;
    border-radius: 10px;
    background: whitesmoke;
    text-align: left;
    display: flex; 
    cursor: pointer; 
    top: 0;  
    position: relative;
    transition: 0.52s;

}
.service-col i{
    color: red;
    margin-left: 5px;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 13px;
}
.service-col h3{
    font-size: 30px;
    color: red;
    padding-bottom: 10px;
}
#row{
    margin-top: 0;
}
.service-col:hover{
    top: -15px;
    box-shadow: 2px 20px 20px 4px grey;
    
}
.testimonial{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;


}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.trestimonial p{
    color: gray;
}
.testimonial-col{
    flex-basis: 30%;
    padding: 50px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    text-align: left;
    position: relative;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 20px grey;
}
.testimonial-col img{
    width: 90px;
    height: 90px;
    border: 3px solid white;
    border-radius: 50%;
    top: -40px;
    position: absolute;
    margin-bottom: 15px;
}
.testimonial-col p{
    margin-top: 50px;
    margin-bottom: 15px;
    color: aliceblue;
}
.testimonial-col h3{
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
}
.testimonial-col h5{
    color: grey;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}
.testimonial-col:hover{
    transform: scale(1.1);
    z-index: 10000;
    background: #df1e7e;
    color: black;
}

